.container{
  font-family: Helvetica, sans-serif;
  margin-top: 1px;
  margin-bottom: 1px;
  flex-wrap: wrap;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1px;

    background-color: #f1f1f1;
    .column{
      display: flex;
      flex-direction: column;
      width: 100%;
      
    }
  }
}
.button {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  border-radius: 8px;
}
.btn {   
  text-decoration: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn:hover {
  background-color:blue;
  color: white;
}
